/* #region GENERAL */
*, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    box-sizing: border-box;
}

:root {
    --desktop-events-width: 650px;
    --gap: 40px;
    --padding: 4px;
    --black: rgb(191, 194, 169);
    --pink: rgba(255, 146, 162, 0.667);
    --selection: rgba(203, 197, 80, 0.688);
    /* --pink: #ff7575; */
    --content-color: rgb(75, 75, 75);
}

::-webkit-scrollbar
{
	width: 8px;
    border-left: 2px solid var(--content-color);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--pink);
    border-left: 2px solid var(--content-color);
 
}

body {
    width: 100vw;
    min-height: 100svh;

    overflow-x: hidden;
    font-size: 18px;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--content-color);
    background-color: var(--black);

    font-weight: lighter;

    /* background-image: url(/media/stoelen.png);
    background-repeat: repeat;
    background-size: calc(5 * var(--gap));
    background-position: calc(2.5 * var(--gap));; */
}

h1 {
    padding: var(--padding);
    font-size: 28px;
}

h2 {
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--content-color);
}

p {
    padding: var(--padding);
    min-height: var(--gap);
}main

ul {
    min-height: var(--gap);
}



/* #endregion */



/* #region INSIDE THE MAIN TAG*/
main {
    width: 100%;
    height: 100svh;
    max-height: 100svh;
    overflow-y: hidden;
}


@media screen and (max-width: 599px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {
    main {
        display:grid;
        grid-template-columns: 7fr 2px 9fr 2px 7fr;
        grid-template-areas: 
        "events left viewer right profile";
    }

    .profile {
        grid-area: profile;
    }
    
    .viewer {
        grid-area: viewer;
    }
    
    .events {
        grid-area: events;
    }

    .seperation-left {
        grid-area: left;
        width: 2px;
        height: auto;
        background-color: var(--content-color);
    }

    .seperation-right {
        grid-area: right;
        width: 2px;
        background-color: var(--content-color);
    }
}
/* #endregion */

/* #region INSIDE THE SECTIONS -> PANELS*/
.section {
    display: flex;
    flex-direction: column;
    overflow: auto;

    height: fit-content;
    max-height: 100svh;
}

.panel {
    border-bottom: 2px solid var(--content-color);
    height: auto;
    overflow: visible; /*PUTAIN FIEU*/
}

.bar {
    display: flex;
    align-items: center;
    min-height: calc(var(--gap));
}

.events .bar {
    height:calc(var(--gap));
}

.profile .bar {
    background-color: var(--pink);
}

.window {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    min-height: auto;
    background-color: none;
}


@media screen and (max-width: 599px) {
    .viewer .window, .profile .window {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .viewer .window, .profile .window {
        display: none;
    }
}

/* #endregion */

/* #region INSIDE A FORM*/

form {
    width: 100%;
    font-size: 0;
}
::placeholder {
    color: var(--content-color);
    opacity: 1; /* Firefox */
  }

.buttonform {
    display: inline-block;
    width: fit-content;
}

.buttonform a {
    padding: var(--padding);
    color: var(--content-color);
}

form input[type="text"], form input[type="url"], form input[type="password"], form input[type="search"] {
    font-size: 20px;
    width: 100%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-color);
    background-color: var(--black);
    color: var(--content-color);
}

form input[type="date"] {
    font-size: 20px;
    width: 50%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-color);
    border-right: 2px solid var(--content-color);
    background-color: var(--black);
    color: var(--content-color);
}

form input[type="time"] {
    font-size: 20px;
    width: 50%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-color);
    overflow-y: hidden;
    background-color: var(--black);
    color: var(--content-color);

}

form textarea {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: calc(6* var(--gap));
    padding: var(--padding);
    resize: vertical;
    border: 0;
    border-bottom: 2px solid var(--content-color);
    background-color: var(--black);
    color: var(--content-color);
}

form input[type='file'] {
    font-size: 16px;
    width: 100%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-color);
}

form select {
    font-size: 20px;
    width: 100%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-color);
}

form input:last-of-type {
    border-bottom: 2px solid var(--content-color);
}

form input:first-of-type {
    border-top: 0px solid var(--content-color);
}

button {
    font-size: 22px;
    width: 100%;
    height: var(--gap);
    background:none;
    border: none;

    color: var(--content-color);
    

    text-align: left;

    cursor: pointer;

    
    text-decoration: underline;
}

form button {
    padding: var(--padding);
}

.next {
    display: flex; 
}

.next input[type="text"] {
    flex-grow: 1;
    width: initial;
    border: 0;
}

.next button {
    overflow: visible;
    width: auto;
    text-align: right;
}

@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) {

}

/* #endregion */

/* #region INSIDE THE EVENTS */
.events .bar h2 {
    margin: 0 auto;
}

.events .bar {
    box-sizing: content-box;
    border-bottom: 2px solid var(--content-color);
    background-color: var(--black);
}

.event {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--content-color);
    min-height: calc((var(--gap) * 2));
    max-height: calc( (var(--gap) * 2));
    overflow-y: hidden;
    width: 100%;
    padding: 0 var(--padding);
}


h3 {
    display: flex;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    padding: var(--padding);
}


@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) {

}

/* #endregion */

/* #region INSIDE A EVENT TABLE */
table, tbody{
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    height: auto;
    background-color: none;
}

tr {
    height: calc(var(--gap) - var(--padding));
}

td {
    width: calc(2 * var(--gap));
    height: var(--gap);
    font-size: 20px;

}

td:nth-child(2) {
    width: calc(100% - 2 * var(--gap));
    text-align: left; 
}

td:nth-child(3) {
    text-align: right;
}


/* #endregion */

/* #region INSIDE THE AGENDA TABLE */

.agenda td {
    width: calc(100% / 7);
    border: 2px solid var(--content-color);
    text-align: center;
}

.agenda thead td {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.agenda td:first-of-type {
    border-left: none;
}

.agenda td:last-of-type {
    border-right: none;
}



/* #endregion */

/* #region INSIDE A VIEW EVENT */
.view-event {
    width: 100%;
    height: fit-content;
    background-color: var(--black);
}

.view-event img {
    height: fit-content;
    width: 100%;
    padding: 0;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: hard-light;
}

.img {
    padding: 0 !important;
    margin: 0 !important;

    font-size: 0;
}

.view-event p {
    padding: calc(var(--gap) / 2) var(--padding);
    width: 100%;
}

.where a {
    text-decoration-thickness: 1px;
    font-weight: 600;
    color: var(--content-color);
}

.organisator, .when, .where {
    padding: var(--padding);
    font-size: 24px;
}


.invited, .going {
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    margin-top: auto;
    padding: var(--padding);
}

.going span {
    font-weight: bold;
}

.not-going {
    padding: var(--padding) 0;
    /* transform: scale(-1,-1); */
}

.commands {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--content-color);
    box-sizing: border-box;
}

.commands:last-of-type {
    border-top: 2px solid var(--content-color);
}

.invite-url {
    padding-left: var(--padding);
}

.invitation {
    min-height: calc(100svh - 2 * var(--gap) - 4px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commands-bottom {
    border-bottom: 0;
}

.commands form button{
    width: fit-content;
}

.response {
    width: 100%;
    display: flex;
    justify-content: space-between;
}




/* #endregion */

/* #region INSIDE THE PROFILE SECTION */

.event-small {    
    min-height: auto;
    max-height: auto;
}

.agenda tr:last-of-type td {
    border-bottom: 0;
}

.window:has(.agenda) .event-small:first-of-type {
    border-top: 2px solid var(--content-color);
}




ul {
    padding: var(--padding);
    border-top: 2px solid var(--content-color);
}

.profile .event:last-of-type {
    border-bottom: none;
}

.welcome .window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


/* #endregion */

/*/ / MOBILE / /*/

@media screen and (max-width: 599px) {
    .profile, .events, .seperation-left, .seperation-right{
        display: none;
    }


}

@media screen and (min-width: 600px) {

}

/*/ / DEBUGGING DD / /*/
.HTMLeditor red {
    color: red;
}

