/* #region GENERAL */
*, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    box-sizing: border-box;
}

:root {
    --desktop-events-width: 650px;
    --gap: 40px;
    --padding: 4px;
    --selection: rgba(203, 197, 80, 0.688);
    /* --pink-theme: #ff7575; */
    --content-theme: rgb(75, 75, 75);
    --windows-theme: rgba(245, 245, 245, 0.508);
    --bg-theme: rgba(185, 204, 187, 0.695);
    --pink-theme: rgba(255, 146, 162, 0.667);
}

::-webkit-scrollbar
{
	width: 8px;
    border-left: 2px solid var(--content-theme);
    background-color: var(--windows-theme);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--pink-theme);
    border-left: 2px solid var(--content-theme);
 
}

body {
    width: 100vw;
    min-height: 100svh;

    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 18px;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--content-theme);
    background-color: var(--bg-theme);

    font-weight: lighter;

    /* background-image: url(/media/stoelen.png);
    background-repeat: repeat;
    background-size: calc(5 * var(--gap));
    background-position: calc(2.5 * var(--gap));; */
}

h1 {
    padding: var(--padding);
    font-size: 28px;
}

h2 {
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--content-theme);
}

p {
    padding: var(--padding);
    min-height: var(--gap);
}main

ul {
    min-height: var(--gap);
}



/* #endregion */



/* #region INSIDE THE MAIN TAG*/
main {
    width: 100%;
    height: 100svh;
    max-height: 100svh;
    overflow-y: hidden;
}
.viewer {
    position: relative;
}


@media screen and (max-width: 599px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {
    main {
        display:grid;
        grid-template-columns: 7fr 2px 9fr 2px 7fr;
        grid-template-areas: 
        "events left viewer right profile";
    }

    .profile {
        grid-area: profile;
    }
    
    .viewer {
        grid-area: viewer;
    }
    
    .events {
        grid-area: events;
    }

    .seperation-left {
        grid-area: left;
        width: 2px;
        height: auto;
        background-color: var(--content-theme);
    }

    .seperation-right {
        grid-area: right;
        width: 2px;
        background-color: var(--content-theme);
    }
}
/* #endregion */

/* #region INSIDE THE SECTIONS -> PANELS*/
.section {
    display: flex;
    flex-direction: column;
    overflow: auto;

    height: fit-content;
    max-height: 100svh;
    background-color: var(--windows-theme);
}

.panel {
    border-bottom: 2px solid var(--content-theme);
    height: auto;
    overflow: visible; /*PUTAIN FIEU*/
}

.bar {
    display: flex;
    align-items: center;
    min-height: calc(var(--gap));
}

.events .bar {
    height:calc(var(--gap));
}

.profile .bar {
    background-color: var(--pink-theme);
}

.window {
    display: flex;
    flex-direction: column;
    min-height: auto;
}


@media screen and (max-width: 599px) {
    .viewer .window, .profile .window {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .viewer .window, .profile .window {
        display: none;
    }
}

/* #endregion */

/* #region INSIDE A FORM*/

form {
    width: 100%;
    font-size: 0;
}
::placeholder {
    color: var(--content-theme);
    opacity: 1; /* Firefox */
  }

.buttonform {
    display: inline-block;
    width: fit-content;
}

.buttonform a {
    padding: var(--padding);
    color: var(--content-theme);
}

form input[type="text"], form input[type="url"], form input[type="password"], form input[type="search"] {
    font-size: 20px;
    width: 100%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-theme);
    background-color:transparent;
    color: var(--content-theme);
}

form input[type="date"] {
    font-size: 20px;
    width: 50%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-theme);
    border-right: 2px solid var(--content-theme);
    background-color:transparent;
    color: var(--content-theme);
}

form input[type="time"] {
    font-size: 20px;
    width: 50%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-theme);
    overflow-y: hidden;
    background-color:transparent;
    color: var(--content-theme);

}

form textarea {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: calc(6* var(--gap));
    padding: var(--padding);
    resize: vertical;
    border: 0;
    border-bottom: 2px solid var(--content-theme);
    background-color:transparent;
    color: var(--content-theme);
}

form input[type='file'] {
    font-size: 16px;
    width: 100%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-theme);
}

form select {
    font-size: 20px;
    width: 100%;
    height: var(--gap);
    padding: var(--padding);
    border: 0;
    border-bottom: 2px solid var(--content-theme);
}

form input:last-of-type {
    border-bottom: 2px solid var(--content-theme);
}

form input:first-of-type {
    border-top: 0px solid var(--content-theme);
}

button {
    font-size: 22px;
    width: 100%;
    height: var(--gap);
    background:none;
    border: none;

    color: var(--content-theme);
    

    text-align: left;

    cursor: pointer;

    
    text-decoration: underline;
}

form button {
    padding: var(--padding);
}

.next {
    display: flex; 
}

.next input[type="text"] {
    flex-grow: 1;
    width: initial;
    border: 0;
}

.next button {
    overflow: visible;
    width: auto;
    text-align: right;
}

@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) {

}

/* #endregion */

/* #region INSIDE THE EVENTS */
.events .bar h2 {
    margin: 0 auto;
}

.events .bar {
    box-sizing: content-box;
    border-bottom: 2px solid var(--content-theme);
}

.event {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--content-theme);
    min-height: calc((var(--gap) * 2));
    max-height: calc( (var(--gap) * 2));
    overflow-y: hidden;
    width: 100%;
    padding: 0 var(--padding);
}


h3 {
    display: flex;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    padding: var(--padding);
}


@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) {

}

/* #endregion */

/* #region INSIDE A EVENT TABLE */
table, tbody{
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    height: auto;
    background-color: none;
}

tr {
    height: calc(var(--gap) - var(--padding));
}

td {
    width: calc(2 * var(--gap));
    height: var(--gap);
    font-size: 20px;

}

td:nth-child(2) {
    width: calc(100% - 2 * var(--gap));
    text-align: left; 
}

td:nth-child(3) {
    text-align: right;
}


/* #endregion */

/* #region INSIDE THE AGENDA TABLE */

.agenda td {
    width: calc(100% / 7);
    border: 2px solid var(--content-theme);
    text-align: center;
}

.agenda thead td {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.agenda td:first-of-type {
    border-left: none;
}

.agenda td:last-of-type {
    border-right: none;
}

.homebutton {
    height: var(--gap);
    display: flex;
    justify-content: left;
    position: absolute;
    width: 100%;
    padding-right: 8px;
}

.homebutton button {
    width: var(--gap);
    padding: var(--padding);
    text-decoration: none;
}

.homebutton a {
    color: var(--content-theme);
    text-decoration: none;
}


/* #endregion */

/* #region INSIDE A VIEW EVENT */
.view-event {
    width: 100%;
    height: fit-content;
}

.view-event img {
    height: fit-content;
    width: 100%;
    padding: 0;
    object-fit: cover;
    object-position: center;
    /* mix-blend-mode: hard-light; */
}

.img {
    padding: 0 !important;
    margin: 0 !important;

    font-size: 0;
}

.view-event p {
    padding: calc(var(--gap) / 2) var(--padding);
    width: 100%;
}

.where a {
    text-decoration-thickness: 1px;
    font-weight: 600;
    color: var(--content-theme);
}

.organisator, .when, .where {
    padding: var(--padding);
    font-size: 24px;
    text-align: center;
}

.invitation h1 {
    text-align: center;
}

.HTMLeditor {
    margin-bottom: auto;
}

.going {
    height: max-content;
    margin-top: auto;
    bottom: 0;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    padding: var(--padding);
    height: fit-content;
}

.going span {
    font-weight: bold;
}

.not-going {
    padding: var(--padding) 0;
    /* transform: scale(-1,-1); */
}

.commands {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--content-theme);
    box-sizing: border-box;
    overflow-y: hidden;
}

.commands:last-of-type {
    border-top: 2px solid var(--content-theme);
}

.commands:first-of-type {
    border-top: none;
}

.invite-url {
    padding-left: var(--padding);
}

.invitation {
    height: calc(100svh - 2 * var(--gap) - 4px);
}

.invitation-content {
    flex-direction: column;
    display: flex;
    align-items: space-between;
    min-height: calc(100svh - 2 * var(--gap) - 4px);
}


.commands-bottom {
    border-bottom: 0;
}

.commands form button{
    width: fit-content;
}

.response {
    width: 100%;
    display: flex;
    justify-content: space-between;
}




/* #endregion */

/* #region INSIDE THE PROFILE SECTION */

.event-small {    
    min-height: auto;
    max-height: auto;
}

.agenda tr:last-of-type td {
    border-bottom: 0;
}

.window:has(.agenda) .event-small:first-of-type {
    border-top: 2px solid var(--content-theme);
}




ul {
    padding: var(--padding);
    border-top: 2px solid var(--content-theme);
}

.profile .event:last-of-type {
    border-bottom: none;
}

.welcome .window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


/* #endregion */

/*/ / MOBILE / /*/

.mobile {
    display: none;
}

@media screen and (max-width: 599px) {
    .profile, .events, .seperation-left, .seperation-right{
        display: none;
    }

    .mobile {
        display: initial;
    }

}

@media screen and (min-width: 600px) {

}

/*/ / READING THE HTML IN THE INVITATION / /*/

.HTMLeditor {
    width: 100%;
    padding: var(--padding);
    border-bottom: 2px solid var(--content-theme);
}

.invitation .HTMLeditor {
    border-bottom: 0;
}

.HTMLeditor groot {
    font-size: 26px;
}

.HTMLeditor klein {
    font-size: 14px;
}

.HTMLeditor links {
    text-align: left;
}

.HTMLeditor midden {
    text-align: center;
}

.HTMLeditor rechts {
    text-align: right;
}

.HTMLeditor hr {
    border-top: var(--content-theme) 2px solid;
}

.HTMLeditor zwart{color:#000}.HTMLeditor markering-zwart{background-color:#000}
.HTMLeditor wit{color:#fff}.HTMLeditor markering-wit{background-color:#fff}
.HTMLeditor rood{color:#f00}.HTMLeditor markering-rood{background-color:#f00}
.HTMLeditor groen{color:#0f0}.HTMLeditor markering-groen{background-color:#0f0}
.HTMLeditor blauw{color:#00f}.HTMLeditor markering-blauw{background-color:#00f}
.HTMLeditor geel{color:#ff0}.HTMLeditor markering-geel{background-color:#ff0}
.HTMLeditor cyaan{color:#0ff}.HTMLeditor markering-cyaan{background-color:#0ff}
.HTMLeditor magenta{color:#f0f}.HTMLeditor markering-magenta{background-color:#f0f}
.HTMLeditor grijs{color:#888}.HTMLeditor markering-grijs{background-color:#888}
.HTMLeditor donkergrijs{color:#aaa}.HTMLeditor markering-donkergrijs{background-color:#aaa}
.HTMLeditor lichtgrijs{color:#ddd}.HTMLeditor markering-lichtgrijs{background-color:#ddd}
.HTMLeditor zilver{color:#ccc}.HTMLeditor markering-zilver{background-color:#ccc}
.HTMLeditor marineblauw{color:#008}.HTMLeditor markering-marineblauw{background-color:#008}
.HTMLeditor olijfgroen{color:#880}.HTMLeditor markering-olijfgroen{background-color:#880}
.HTMLeditor paars{color:#808}.HTMLeditor markering-paars{background-color:#808}
.HTMLeditor teal{color:#088}.HTMLeditor markering-teal{background-color:#088}
.HTMLeditor bruin{color:#520}.HTMLeditor markering-bruin{background-color:#520}
.HTMLeditor oranje{color:#fa0}.HTMLeditor markering-oranje{background-color:#fa0}
.HTMLeditor roze{color:#fcc}.HTMLeditor markering-roze{background-color:#fcc}
.HTMLeditor goud{color:#fd7}.HTMLeditor markering-goud{background-color:#fd7}

/*/ / EDITOR / /*/

.colors p {
    height: auto;
    min-height: auto;
    text-align: center;
}

.editor textarea {
    min-height: calc(100svh - 2px - (7 * var(--gap)));
    resize: none;
}

.editor button {
    padding: var(--padding);
}


/*/ / MANIFESTO / /*/

.manifesto {
    max-height: calc(100svh - var(--gap));
    height: calc(100svh - var(--gap));
    overflow-y:auto;

}

.manifesto h1 {
    padding: var(--padding);
    overflow-y: visible;
}
.manifesto a {
    margin-top: auto;
}

.manifesto p {
    height: auto;
    padding: var(--padding);
    width: 100%;
}

.manifesto video {
    width: 100%;
    object-fit: contain;
}

.mailme {
    align-items: center;
    height: var(--gap);
}

.mailme a {
    display: flex;
    align-items: center;

}

/*/ / MOBILE HORIZONTAL MODE / /*/

.horizontal {
    display: none;
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    :root {
        --gap: 30px;
    }

    main {
        display:grid;
        grid-template-columns: 7fr 2px 6fr;
        grid-template-areas: 
        "viewer right profile";
    }

    .events {
        display: none;
    }

    .horizontal {
        display: inherit;
        border-bottom: 2px solid var(--content-theme);
    }

    .mobile {
        display: inherit;
    }

    body, form input[type="text"], form input[type="password"], form input[type="date"], form input[type="time"], form input[type="url"], form input[type="file"], form textarea, td, .going {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .homebutton button {
        padding: 0;
    }
    .organisator, .when, .where {
        font-size: 18px;
    }
    button {
        font-size: 18px;
    }

    .editor textarea {
        height: auto;
    }
}